@font-face {
  font-family: "roboto";
  src: url(../police/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(../police/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto-thin";
  src: url(../police/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "roboto-light";
  src: url(../police/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "Shrikland";
  src: url(../police/Shrikhand/Shrikhand-Regular.ttf);
}

$primary-color: #9356dc;
$secondary-color: #ff79da;
$thrd-color: #99e2d0;

* {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  contain: content;
  scroll-behavior: smooth;

  h2 {
    font-weight: 600;
  }

  p {
    font-family: "roboto-light";
  }
}
main {
  position: relative;
  z-index: 2;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  position: relative;
}
.logo {
  width: 100%;
  background-color: white;
  box-shadow: 10px 17px 69px #c9c9c9;
  display: flex;
  justify-content: space-around;
  padding: 25px 0px 20px 0px;
  padding: 1rem;
  box-shadow: 0 0 .5rem rgba(0,0,0,.25);
  position: relative;
  z-index: 1000;
  & > img {
    width: 40%;
  }
}
.input {
  background-color: #999;
}
#formulaire_local {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f3f3f3;
}
.fa-location-dot{
  margin-left: 64px;
}
#chp_recherche {
  border-style: none;
  font-family: "roboto-bold";
  color: black;
  background-color: transparent;
  padding: 15px 0px 15px 0px;

  &::placeholder {
    color: black;
    font-weight: 200;
    font-size: 15px;
  }
}

button::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
#intro {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 40px 20px 40px 20px;
  align-items: center;
  text-align: center;
  gap: 25px;
  & > h1 {
    font-weight: 800;
    font-size: 25px;
  }
  & > h2 {
    font-weight: 200;
    font-size: 17px;
  }
}
.btn--explore--txt {
  background-image: linear-gradient(174deg, #ff79da 0%, #9356dc 90%);
  border: 0 solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 12px #00000033;
  color: #fff;
  font-weight: 500;
  margin: 0 auto;
  padding: 1em 1.5em;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;

  &:active {
    box-shadow: 5px 5px 12px #00000033;
    transform: translateY(-0.2em);
  }
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.btn:active {
  transform: scale(1.05, 1.05);
}

#Fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  margin: 50px 15px 50px 15px;
  a {
    text-decoration: none;
  }
}
.btn__fonctionnement {
  display: flex;
  align-items: center;
  border: 2cm gray;
  background-color: #e2e2e25c;
  justify-content: flex-start;
  padding: 15px;
  border: 4px solid transparent;
  box-shadow: 1px 1px 8px #e2e2e2;
  border-radius: 8px;

  width: 100%;
  margin-left: 10px;

  &--infos {
    display: flex;
    gap: 15px;
    width: 250px;
    & > .fa-solid {
      color: gray;
    }
    & > p {
      color: black;
      color: black;
      font-family: "roboto-Light";
      font-weight: 600;
    }
    &:hover {
      & > .fa-solid {
        color: #ff79dab3;
      }
      & > p {
      }
    }
  }

  span {
    background-color: #9356dc;
    position: relative;
    right: 31px;
    color: white;
    border-radius: 25px;
    padding: 4px 7px 4px 8px;
    width: 25px;
    height: 25px;
  }
  &:hover {
    background-color: #ff79da36;

    & > .fa-solid {
      color: #ff79da36;
    }
  }
}

#Restaurants {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e2e2e2;
  gap: 20px;
  padding-top: 25px;

  & > h2 {
    padding-left: 20px;
  }
}
.cartes {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 8px #e2e2e2;

    max-width: 450px;
    text-decoration: none;
    color: black;
    max-height: 300px;
  }
}
.card {
  display: flex;
  flex-direction: column;

  &--img {
    max-width: 100%;
    max-height: 55vw;
    border-radius: 20px 20px 0px 0px;
    object-fit: contain;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    &--nvx {
      position: absolute;
      padding: 5px;
      display: flex;
      color: #17322b91;
      background-color: #99e2d0;
      width: 21%;
      z-index: 3;
      margin-right: 20px;
      margin-top: 16px;
      border-radius: 5px;
      align-items: center;
     top: 1px; 
      justify-content: center;
      & > p {
        font-family: "roboto-bold";
        color: #037458;
      }
    }
    & > img {
      width: 100%;
      max-height: 186px;
      height: 45vw;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
      position: relative;
    }
  }
  &--infos {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    & > .fa-heart:hover {
      font-size: 30px;
      animation: fillin .2s ease-in-out;

      &:hover {
        background: linear-gradient(#9356dc, #ff79da);
        color: #ff79da;
        font-weight: 600;
        animation: fillin 0.2s ease-in-out;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; animation: fadein 4s;
        -moz-animation: fadein 4s; /* Firefox */
        -webkit-animation: fadein 4s; /* Safari et Chrome */
        -o-animation: fadein 4s; /* Opera */
      }
      @keyframes fillin {
        from {
         fill: 0%;

        }
        to {
          fill: 100%;
        }
      }
      @-moz-keyframes fadein {
        /* sur Firefox */
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      @-webkit-keyframes fillin {
        /* sur Safari et Chrome */
        from {
          fill: 0%;
        }
        to {
          fill: 100%;
        }
      }
      @-o-keyframes fadein {
        /* sur Opera */
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &--infos--txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "roboto-thin";
    font-size: 5px;

    & > h3 {
      font-size: 20px;
      font-family: "roboto-bold";
    }
    & > p {
      font-size: 17px;
      font-family: "roboto-thin";
    }
    & > h2 {
    font-family: "roboto-Thin";
  }
  }
}
#note_enchantee{

}
/*Footer*/

footer {
  background-color: #353535;
  display: flex;
  color: #e2e2e2;
  padding: 26px 0px 19px 15px;
  flex-direction: column;
  gap: 25px;
  & > img {
    fill: white !important;
    width: 50%;
  }
  & > nav {
    display: flex;
    gap: 9px;
    flex-direction: column;
  }

  & > nav li {
    text-decoration: none;
    list-style: none;
    color: white;
    & > a {
      color: white;
      text-decoration: none;
    }
  }
}

/*Pages*/

.pages_entete {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 50px;
  padding-left: 15px;
  margin: 18px;
  align-items: center;
  & > img {
    width: 50%;
  }
  & > .fa-arrow-left {
    font-size: 30px;
  }
}
.img_page_entete {
  max-width: 100%;
  max-height: 77vw;
  object-fit: contain;
  overflow: hidden;
  z-index: 3;
  & img {
    
    width: 100%;
    object-fit: cover;
    position: relative;
  }
}
.corps_menu {
  display: flex;
  background-color: #e2e2e2;
  margin-top: -40px;
  border-radius: 45px 45px 0px 0px;
  z-index: 2;
  flex-direction: column;
  padding: 2%;

  & > .menu_titre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
    gap: 15px;
    & > h1 {
      font-family: "Shrikland";
      font-size: 25px;
    }
    & > .fa-heart {
      font-size: 30px;
    }
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu--titre {
  border-bottom: solid 3px #99e2d0;
  display: block;
  position: relative;
  right: -9px;
  width: 15%;
  & > h2 {
    font-family: "roboto-thin";
    font-size: 20px;
  }
}
.btn--comm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.container {
  font-size: 10px;
  object-fit: cover;
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 1px 8px #aaaaaa;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: 350px;
  max-height: 65px;
  border-radius: 15px;
  overflow: hidden;
}
.btn_cmd {
  cursor: pointer;
  transform: scaleX(1);
  transition: all 0.4s 0.2s ease-in-out;
  width: 100%;
  /* min-width: 100%; */
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  & > p {
    font-size: 15px;
    font-family: 'roboto-bold';
  }
}
.btn_cmd:hover + .fa-circle-check {
  transform: scaleX(1);
  color: white;
  background-color: #15dea5;
  /* width: 30%; */
  height: 62px;
  border-radius: 0px 10px 10px 0px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: scale-x 200ms 0ms linear both;
  visibility: visible;
  padding: 5px;
}

.btn_cmd--txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 90%;
  & > h3 {
    font-family: "roboto-bold";
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & > p {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.big_container1 {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  
}
.big_container2 {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari et Chrome */
  -o-animation: fadein 3s; /* Opera */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  
}
.big_container3 {
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari et Chrome */
  -o-animation: fadein 4s; /* Opera */
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.accueil {
  height: 100%;
  width: 100%;
  background-color: #ffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
 animation:  fondu_out 0.2s 3s forwards;
  display:visible;

  &>.mots{
    display: flex;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 15px;
    -webkit-box-orient: vertical;
    /* -webkit-box-direction: normal; */
    /* flex-direction: column; */
    /* -webkit-box-align: center; */
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    position: fixed;
    top: 318px;
    left: 0px;
    z-index: 5;
    background-color: transparent;
    display: visible;
    animation: none;
    align-content: flex-start;
    &>.lettre{
      font-family: "roboto";
      font-size: 18 px;
    }
  }
  
}
.loader {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  /* -webkit-box-direction: normal; */
  /* flex-direction: column; */
  /* -webkit-box-align: center; */
  align-items: flex-end;
  background:#9356dc linear-gradient(174deg, #ff79da );
  animation : AnimationName 1.5s ease infinite;
  background-repeat: no-repeat;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  background-color: transparent;
  display: visible;
  & :nth-of-type(1){
    position:relative;
    z-index: 9;
   animation: slideUp 0.8s  forwards;
    
}
& :nth-of-type(2){
  position:relative;
  z-index: 8;
  animation: slideUp 0.8s 1s forwards;
  
}
& :nth-of-type(3){
  position:relative;
  z-index: 7;
  animation: slideUp 0.8s 2s forwards;
  
}
& :nth-of-type(4){
  position:relative;
  z-index: 6;
  animation: slideUp 0.8s 3s forwards  ;
  

}

 
  
&>.load_card{
  padding: 2px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11%;
  /* left: 0; */
  width: 368px;
&> img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  animation: none;
  /* max-width: 350px; */
}
&>p{
  text-align: center;
  font-family: Shrikland;
  font-size: 25px;
  animation: none;
}
}
 
  
  @keyframes flash {
    0% {
      color: $primary-color;
      text-shadow: 0 0 7px $primary-color;
  
      
    }
    50% {
      color: $secondary-color;
      text-shadow: 0 0 7px $secondary-color;
      
      
    }
    100% {
      color: $primary-color;
      text-shadow: 0 0 7px $primary-color;
    
    }
  }
  @keyframes bump {
    0% {
     
      transform: translateY(0px);
      opacity: 100%;
    }
  
    100% {
      color: $primary-color;
      transform: translateY(-250px);
      opacity: 0%;
      visibility: hidden;
    }
  }

  @keyframes fondu_out {
    0% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
      visibility: hidden;
    }
  }
  .slideUp {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
  }
  @-webkit-keyframes slideUp {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1;
    }
  
    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  @keyframes slideUp {
    0% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1
      ;
    }
  
    100% {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  @keyframes AnimationName {
    0%{background-color: $primary-color;}
    50%{background-color: $secondary-color}
    100%{background-color: $primary-color;}
}
  
  }

.container {
  font-size: 10px;
  object-fit: cover;
  cursor: pointer;
  background-color: white;
  box-shadow: 1px 1px 8px #aaaaaa;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  max-width: 350px;
  max-height: 65px;
  border-radius: 15px;
  overflow: hidden;
}
.btn_cmd {
  cursor: pointer;
  transform: scaleX(1);
  transition: all 450ms;
  width: 100%;
  min-width: 25%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  animation-timing-function: cubic-bezier(0.17, 0.67, 1, 0.88);
  & > p {
    font-size: 13px;
  }
}
.btn_cmd:hover + .checkup {
  width: 30%;
  transition: transform 1000ms ease-in-out;
  animation-timing-function: cubic-bezier(0.17, 0.67, 1, 0.88);

  & > .fa-circle-check {
    /* font-size: 3rem; */
    color: white;
    transform: rotate(360deg);
    transition: 0.6s ease-in-out;
  }
}

.btn_cmd--txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 90%;
  & > h3 {
    font-family: "roboto-bold";
    font-size: 17px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  & > p {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.checkup {
  /* width: 100%; */
  display: flex;
  transform: scaleX(1);
  color: white;
  background-color: #15dea5;
  opacity: 70%;
  width: 0%;
  height: 62px;
  border-radius: 0px 10px 10px 0px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: scale-x 200ms 0ms linear both;
  /* visibility: visible; */
  object-fit: cover;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
  animation-timing-function: cubic-bezier(0.17, 0.67, 1, 0.88);
  & > .fa-circle-check {
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .img_page_entete {
    max-width: 100%;
    max-height: 30vw;
        & img {
      height: 93vw;
      bottom: 337px;
        }
  }
  .big_container1{    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;}
  .big_container2{    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;}
  .big_container3{    animation: fadein 4s;
    -moz-animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -o-animation: fadein 4s;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;}
}
@media (min-width: 992px) {
  #Fonctionnement {
    flex-direction: row;
    align-items: center;
  }
  .cartes {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  .card {
    &--img {
      max-height: 67vw;

      &--nvx {
        & > p {
          font-family: "roboto-bold";
          color: #037458;
        }
      }
      & > img {
        width: 400px;
        max-height: 219px;
      }
    }
  }
  .pages_entete {
    gap: 35%;
    & > img {
      width: 25%;
    }
    & > .fa-arrow-left {
      font-size: 30px;
    }
  }
  .img_page_entete {
    width: 100%;
    & img {
      height: 22vw;
    }
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
  }

  .menu--titre {
    border-bottom: solid 3px #99e2d0;
    display: block;
    position: relative;
    right: -9px;
    width: 15%;
    & > h2 {
      font-family: "roboto-thin";
      font-size: 20px;
    }
  }
  .btn--comm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .container {
    font-size: 10px;
    object-fit: cover;
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 8px #aaaaaa;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    max-width: 350px;
    max-height: 65px;
    border-radius: 15px;
    overflow: hidden;
  }
  footer {
    background-color: #353535;
    display: flex;
    color: #e2e2e2;
    padding: 26px 0px 19px 15px;
    flex-direction: column;
    gap: 25px;
    & > img {
      fill: white !important;
      width: 25%;
    }
}}


